.info {
    padding: 16px 40px 0 40px;
    max-width: 1120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    height: 48px;
    gap: 16px;
}

.title {
    font-size: var(--text-h1-size);
    line-height: var(--text-h2-height);
    font-weight: 600;
    margin: 0;
}

.sum {
    color: var(--additional-not-selected);
    font-size: var(--text-h1-size);
    line-height: var(--text-h2-height);
    font-weight: 600;
    margin: 0;
}

.filter {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
    gap: 12px;
}

.search svg {
    width: 24px;
    aspect-ratio: 1 / 1;
    padding-right: 8px;
}

.search svg path {
    fill: var(--additional-not-selected);
}

.search {
    height: 100%;
}

.dropdown {
    height: 100%;
    width: 268px;
    color: var(--additional-not-selected) !important;
    font-size: var(--text-b1-size) !important;
    line-height: var(--text-b2-height) !important;
}

input::placeholder {
    color: var(--additional-not-selected) !important;
    font-size: var(--text-b1-size) !important;
    line-height: var(--text-b2-height) !important;
}

.summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 24px;
}

.table {
    width: 100%;
}