.top {
    padding: 32px 0 24px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add {
    background-color: var(--accent-normal);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    color: var(--color-white);
    border-radius: 12px;
    gap: 10px;
    font-size: var(--text-b1-size);
    line-height: var(--text-b1-height);
    font-weight: 500;
}

.add svg path {
    fill: var(--color-white)
}

.dropdown {
    width: 262px;
    height: 48px;
}