.content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.info {
    padding: 16px 40px 0 40px;
    max-width: 1120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.title {
    font-size: var(--text-h1-size);
    line-height: var(--text-h2-height);
    font-weight: 600;
    margin: 0;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 48px;
}

.summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 24px;
}

.charts {
    width: 100%;
}
