@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Manrope-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Manrope-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Manrope-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Manrope-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Manrope-Semibold.woff") format("woff");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Manrope-Semibold.woff2") format("woff2");
}

:root {
  --color-gray: #EFEFEF;
  --color-white: #FFFFFF;
  --color-light-gray: #F9F9F9;
  --color-fill: #F6F8FA;
  --main-color: #42434B;
  --system-warning: #2F54EB;
  --system-error: #FF003F;
  --system-orange: #FA8C16;
  --system-success: #00C261;
  --accent-normal: #E10D34;
  --additional-not-selected: #86878C;
  --additonal-stroke: #E0E0E0;
  --secondary-normal: #2E4289;
  --system-warning-background: #EAEEFD;
  --system-background-pink: #FFE6EC;
  --system-success-background: #E6F9EF;
  --text-h1-size: 32px; 
  --text-h1-height: 46px; 
  --text-h2-size: 24px; 
  --text-h2-height: 32px;
  --text-h3-size: 20px; 
  --text-h3-height: 28px;
  --text-b1-size: 16px; 
  --text-b1-height: 24px;
  --text-b2-size: 14px; 
  --text-b2-height: 22px;
  --text-b3-size: 12px; 
  --text-b3-height: 18px;
}

body {
  margin: 0;
  color: var(--main-color);
  font-family: 'Manrope', sans-serif;
}

input {
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}