:root {
  --background-color-gray: #EFEFEF;
  --background-color-white: #FFFFFF;
  --background-color-light-gray: #F9F9F9;
  --text-color: #42434B;
  --system-error-red: #FF003F;
  --accent-normal: #E10D34;
}

body {
  margin: 0;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}